body{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; color: #fff;}

body{background-color: #1F1F1F; }
nav{background-color: #1F1F1F;}

nav {
    background-color: #1F1F1F;
    transition-property: 10px;
}

nav a {
    color: #fff;
}

nav a:hover {
    background-color: #487DD9;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav a {
        display: block;
        padding: 10px;
        text-align: center;
        width: 100%; 
        margin: 5px 0;
    }
    nav span {
        display: none;
    }

}